body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('gwubackground.png');
    background-size: cover;
    height: 100vh;
}

.forgot-password-container {
    background-color: rgba(255, 255, 255, 0.95);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 340px;
    text-align: center;
    
}

h1 {
    color: #007bff;
    margin-bottom: 20px;
}

p {
    color: #333333;
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    color: #666666;
    margin-bottom: 10px;
}

.form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-sizing: border-box;
}

a {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}


    
