<!DOCTYPE html>
<html>

<head>
    <title> Applicant List </title>
    <link rel="stylesheet" href="/static/universal.css">
</head>
<h1> Applicant List </h1>

<body>
    <a href="/admin">Admin Home</a> <a href="/logout">Logout</a>
    {% if applicants: %}
    <p> Applicants </p>
    <table>
        <tr>
            <th>UID</th>
            <th>Name</th>
            <th>Application Status</th>
        </tr>
        {% for applicant in applicants %}
        <tr>
            <th> {{applicant.uid}} </th>
            <th> {{applicant.name}} </th>
            <th> {{applicant.status}}</th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</body>

</html>