<!DOCTYPE html>
<html>

<head>
    <title> Admin | Create User </title>
    <link rel="stylesheet" href="/static/applicant.css">
</head>
<h1> Account Creation</h1>

<body>
    <a href="/admin">Admin Home</a> <a href="/logout">Logout</a>
    <form action= "/admin/createusers" method="POST">
        Username: <input type ="text" name="username"> <br>
        Password: <input type ="password" name="password"> <br>
        Role: <input type ="text" name="role"> <br>
        Name: <input type ="text" name="name"> <br>
        <label for="permissions">Permissions:</label> 
        <select id="permissions" name="permissions" required>
            <option value=""> </option>
            <option value="Review">Review</option>
        </select>
        <br>
        <label for="finalDecision">Final Decision:</label> 
        <select id="finalDecision" name="finalDecision" required>
            <option value=".."></option>
            <option value="Yes">Yes</option>
            <option value="No">No</option>
        </select>
        <input type = "submit" value= "Create Account">
        <br>
    </form>
</body>

</html>