<!DOCTYPE html>
<html lang="en">
<head>
    <title>Password Reset Sent</title>
    <link rel="stylesheet" href="/static/send_reset_link.css">
</head>
<body>
    <div class="logo-container">
        <img src="/static/newgwlogo.png" alt="University logo" class="University-logo"style="width: 500px; height: auto;">
 </div>    
<div class="reset-link-sent-container">
    <h1>Password Reset Link Sent</h1>
    <p>Please check your email to continue the password reset process.</p >
    <a href="/ ">Return to Homepage</a >
</div>

</body>
</html>
