<!DOCTYPE html>
<html>

<head>
    <title> User List </title>
    <link rel="stylesheet" href="/static/universal.css">
</head>
<h1> User List </h1>

<body>
    <a href="/admin">Admin Home</a> <a href="/logout">Logout</a>
    {% if users: %}
    <p> Users </p>
    <table>
        <tr>
            <th> Username</th>
            <th> Password</th>
            <th> Type of User</th>
            <th> UID </th>
        </tr>
        {% for user in users %}
        <tr>
            <th> {{user.username}} </th>
            <th> {{user.password}} </th>
            <th> {{user.type}} </th>
            <th> {{user.uid}}</th>
        </tr>
        {% endfor %}
    </table>
    {% endif %}

</body>

</html>